body{
    background-color: #393E46;
    text-align: center;
}

h1{
    font-size: 95px;
    padding-bottom: 15px;
    text-align: center;
    color:#4ECCA3 ;
    font-family:"Lobster";
    text-shadow: 5px 0 #232931;

}
.dice{

    font-family:"Lobster";
    color: #4ECCA3;
    font-size: 30px;
    display:inline-block;
    font-family: 'Indie Flower', cursive;
}
.dice{
    padding: 5px 20px;
}